nav{
    background-color: rgb(0, 0, 0);
    padding: 5px;  
}

nav ul{
    text-align: center;
    font-size: 1.2em;
    padding: 15px;
}

nav ul li {
    list-style-type: none;
    background-color: #8d8d8d;
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px solid rgb(78, 80, 78);
    border-radius: 10px;
}

nav ul li:hover
{ 
background-color: rgb(66, 66, 66);
}
nav ul li a{ 
    color: white;
    text-decoration: none;
}
#active{
    border-color: rgb(255, 0, 0);
}
#active2{
    border-color: rgb(255, 0, 0);
}

header{
    background-color: #c4c4c4;
    padding: 10px;
}

footer{
    clear: both;
    border: 5px solid rgb(201, 12, 12);
    padding: 0;
    margin: 0;
    position:relative;
    bottom: 0px;
    width: 100%;
    background-color: rgb(201, 12, 12);
    text-align: center;
}

footer p {
    color: rgb(0, 0, 0);
    text-align: center;
    
}

.logo{
    border: 2px solid black;
    
}

.animals{
   border: 5px solid white;
    width: 30%;
    margin-right: 35%;
    margin-left:35%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
   
    color: rgb(201, 12, 12);
}
h2 {
   
    color: rgb(201, 12, 12);
}
h3 {
    
    color: rgb(201, 12, 12);
}
#corvids{
    border: 5px solid rgb(81, 82, 81);
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}
p a {
    color: aquamarine;
}

ol li a {
    color: aquamarine;
}
.magpie{
    
    
    border: 5px solid rgb(201, 12, 12);
    width: 45%;
}
.maxdisplay{
    max-height: 350px;
    overflow: auto;
}
.raven{
    
    border: 5px solid rgb(201, 12, 12);
    width: 45%;
}

.crow{
    border: 5px solid rgb(71, 71, 71);
    width: 45%;
}

.col_detail{
    column-count: 3;
    column-rule: 1px solid white;
    column-gap: 100px;
    padding: 2px;
}

.tableColor{
    color: rgb(201, 12, 12);
}

table{
    align-content: center;
    width: 80%;
    border: 1px solid white;
    border-collapse: collapse;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    margin-top: 35px;
    margin-bottom: 35px;
}
    
th,td{
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

thead th{
    width: 25%;
}  

.answer{
    color: white;
}